* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* .parent {
  width: 100vw;
  height: 100vh;
  background-color: #62A823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: move;
}

* .parent .animation {
  width: 150px;
  height: 150px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(0) rotateX(0);
          transform: rotateY(0) rotateX(0);
}

* .parent .animation .animation-items {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -75px;
          transform-origin: 50% 50% -75px;
}

* .parent .animation .animation-items .fox-face {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #DC7415;
  border: 1px solid #C56006;
  -webkit-transform: translate3d(35px, 35px, 35px);
          transform: translate3d(35px, 35px, 35px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

* .parent .animation .animation-items .fox-face .eye {
  position: absolute;
  top: 20px;
  width: 15px;
  height: 15px;
  background-color: #160F05;
}

* .parent .animation .animation-items .fox-face .eye::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #D9D9BC;
  position: absolute;
  top: 0;
}

* .parent .animation .animation-items .fox-face .eye:nth-child(1) {
  left: 10px;
}

* .parent .animation .animation-items .fox-face .eye:nth-child(1)::before {
  left: 0;
}

* .parent .animation .animation-items .fox-face .eye:nth-child(2) {
  right: 10px;
}

* .parent .animation .animation-items .fox-face .eye:nth-child(2)::before {
  right: 0;
}

* .parent .animation .animation-items .fox-face .snout {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 35px;
  height: 35px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

* .parent .animation .animation-items .fox-face .snout .snout-header {
  position: absolute;
  width: 25px;
  height: 20px;
  background-color: #D9D9BC;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

* .parent .animation .animation-items .fox-face .snout .snout-footer {
  position: absolute;
  width: 35px;
  height: 10px;
  background-color: #D9D9BC;
  bottom: 0;
}

* .parent .animation .animation-items .fox-face .snout .mouth {
  position: absolute;
  width: 25px;
  height: 20px;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-header,
* .parent .animation .animation-items .fox-face .snout .mouth .mouth-footer {
  position: absolute;
  width: 25px;
  height: 13px;
  bottom: -5px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-header {
  bottom: 5px;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-header .mouth-side {
  background-color: #DC7415;
  border: 1px solid #C56006;
  height: 10px;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-header .mouth-side:nth-child(3)::before {
  content: "";
  width: 50%;
  height: 14px;
  position: absolute;
  left: 50%;
  top: -1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #160F05;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-header .mouth-side:nth-child(4)::before {
  content: "";
  width: 50%;
  height: 55%;
  position: absolute;
  left: 50%;
  bottom: -1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #160F05;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-side {
  position: absolute;
  width: 25px;
  height: 13px;
  background-color: #D9D9BC;
  border: 1px solid #C5BF8B;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-side:nth-child(1) {
  -webkit-transform: translate3d(15px, 0, 10px) rotateY(90deg);
          transform: translate3d(15px, 0, 10px) rotateY(90deg);
  width: 20px;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-side:nth-child(2) {
  -webkit-transform: translate3d(-10px, 0, 10px) rotateY(90deg);
          transform: translate3d(-10px, 0, 10px) rotateY(90deg);
  width: 20px;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-side:nth-child(3) {
  -webkit-transform: translate3d(0, 0, 20px) rotateY(0);
          transform: translate3d(0, 0, 20px) rotateY(0);
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-side:nth-child(4) {
  -webkit-transform: translate3d(0, -10px, 10px) rotateX(90deg);
          transform: translate3d(0, -10px, 10px) rotateX(90deg);
  width: 25px;
  height: 20px;
}

* .parent .animation .animation-items .fox-face .snout .mouth .mouth-side:nth-child(5) {
  -webkit-transform: translate3d(0, 0, 10px) rotateX(90deg);
          transform: translate3d(0, 0, 10px) rotateX(90deg);
  width: 25px;
  height: 20px;
}

* .parent .animation .animation-items .fox-left-side,
* .parent .animation .animation-items .fox-right-side,
* .parent .animation .animation-items .fox-top-side,
* .parent .animation .animation-items .fox-back-side {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #DC7415;
  border: 1px solid #C56006;
  -webkit-transform: translate3d(75px, 35px, -5px) rotateY(90deg);
          transform: translate3d(75px, 35px, -5px) rotateY(90deg);
}

* .parent .animation .animation-items .fox-right-side {
  -webkit-transform: translate3d(-5px, 35px, -5px) rotateY(90deg);
          transform: translate3d(-5px, 35px, -5px) rotateY(90deg);
}

* .parent .animation .animation-items .fox-left-side::before,
* .parent .animation .animation-items .fox-right-side::before,
* .parent .animation .animation-items .fox-back-side::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #D9D9BC;
  width: 30px;
  height: 10px;
}

* .parent .animation .animation-items .fox-bottom-side {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #160F05;
  -webkit-transform: translate3d(35px, 75px, -5px) rotateX(90deg);
          transform: translate3d(35px, 75px, -5px) rotateX(90deg);
}

* .parent .animation .animation-items .fox-top-side {
  -webkit-transform: translate3d(35px, -5px, -5px) rotateX(90deg);
          transform: translate3d(35px, -5px, -5px) rotateX(90deg);
}

* .parent .animation .animation-items .fox-back-side {
  -webkit-transform: translate3d(35px, 35px, -45px);
          transform: translate3d(35px, 35px, -45px);
}

* .parent .animation .animation-items .fox-ear {
  position: absolute;
  width: 20px;
  height: 25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(35px, 16px, 35px);
          transform: translate3d(35px, 16px, 35px);
}

* .parent .animation .animation-items .fox-ear.right {
  -webkit-transform: translate3d(95px, 16px, 35px);
          transform: translate3d(95px, 16px, 35px);
}

* .parent .animation .animation-items .fox-ear::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #D9D9BC;
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

* .parent .animation .animation-items .fox-ear .fox-ear-top,
* .parent .animation .animation-items .fox-ear .fox-ear-bottom {
  position: absolute;
  width: 20px;
  height: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 4px;
}

* .parent .animation .animation-items .fox-ear .fox-ear-top {
  height: 15px;
  bottom: 14px;
}

* .parent .animation .animation-items .fox-ear .fox-ear-top .fox-ear-side {
  height: 15px;
  background-color: #160F05;
  border: none;
}

* .parent .animation .animation-items .fox-ear .fox-ear-side {
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: #DC7415;
  border: 1px solid #C56006;
  border-bottom: none;
}

* .parent .animation .animation-items .fox-ear .fox-ear-side:nth-child(2) {
  -webkit-transform: translate3d(10px, 0, -10px) rotateY(90deg);
          transform: translate3d(10px, 0, -10px) rotateY(90deg);
}

* .parent .animation .animation-items .fox-ear .fox-ear-side:nth-child(3) {
  -webkit-transform: translate3d(-10px, 0, -10px) rotateY(90deg);
          transform: translate3d(-10px, 0, -10px) rotateY(90deg);
}

* .parent .animation .animation-items .fox-ear .fox-ear-side:nth-child(4) {
  height: 20px;
  -webkit-transform: translate3d(0, -10px, -10px) rotateX(90deg);
          transform: translate3d(0, -10px, -10px) rotateX(90deg);
}

* .parent .animation .animation-items .fox-ear .fox-ear-side:nth-child(5) {
  -webkit-transform: translate3d(0, 0, -20px);
          transform: translate3d(0, 0, -20px);
}

* .parent .animation .animation-items .paw {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(35px, 115px, 35px);
          transform: translate3d(35px, 115px, 35px);
}

* .parent .animation .animation-items .paw.two {
  -webkit-transform: translate3d(100px, 115px, 35px);
          transform: translate3d(100px, 115px, 35px);
}

* .parent .animation .animation-items .paw.there {
  -webkit-transform: translate3d(35px, 115px, -30px);
          transform: translate3d(35px, 115px, -30px);
}

* .parent .animation .animation-items .paw.four {
  -webkit-transform: translate3d(100px, 115px, -30px);
          transform: translate3d(100px, 115px, -30px);
}

* .parent .animation .animation-items .paw .paw-side {
  position: absolute;
  background-color: #160F05;
  width: 15px;
  height: 15px;
}

* .parent .animation .animation-items .paw .paw-side:nth-child(2) {
  -webkit-transform: translate3d(7.5px, 0, -7.5px) rotateY(90deg);
          transform: translate3d(7.5px, 0, -7.5px) rotateY(90deg);
}

* .parent .animation .animation-items .paw .paw-side:nth-child(3) {
  -webkit-transform: translate3d(-7.5px, 0, -7.5px) rotateY(90deg);
          transform: translate3d(-7.5px, 0, -7.5px) rotateY(90deg);
}

* .parent .animation .animation-items .paw .paw-side:nth-child(4) {
  -webkit-transform: translate3d(0, 7.5px, -7.5px) rotateX(90deg);
          transform: translate3d(0, 7.5px, -7.5px) rotateX(90deg);
}

* .parent .animation .animation-items .paw .paw-side:nth-child(5) {
  -webkit-transform: translate3d(0, 0, -15px);
          transform: translate3d(0, 0, -15px);
}

* .parent .animation .animation-items .tali {
  position: absolute;
  width: 20px;
  height: 95px;
  -webkit-transform: translate3d(65px, 0px, -46px);
          transform: translate3d(65px, 0px, -46px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

* .parent .animation .animation-items .tali::before {
  content: "";
  width: 20px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  background-color: #D9D9BC;
}

* .parent .animation .animation-items .tali .tali-footer-bottom {
  width: 20px;
  height: 15px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 0;
}

* .parent .animation .animation-items .tali .tali-footer-bottom .tali-footer-bottom-side {
  width: 20px;
  height: 15px;
  position: absolute;
  background-color: #D9D9BC;
  border: 1px solid #C5BF8B;
}

* .parent .animation .animation-items .tali .tali-footer-bottom .tali-footer-bottom-side:nth-child(1) {
  width: 15px;
  -webkit-transform: translate3d(12px, 1px, -6px) rotateY(90deg);
          transform: translate3d(12px, 1px, -6px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-bottom .tali-footer-bottom-side:nth-child(2) {
  width: 15px;
  -webkit-transform: translate3d(-7px, 1px, -6px) rotateY(90deg);
          transform: translate3d(-7px, 1px, -6px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-bottom .tali-footer-bottom-side:nth-child(3) {
  -webkit-transform: translate3d(0, 8px, -6px) rotateX(90deg);
          transform: translate3d(0, 8px, -6px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-bottom .tali-footer-bottom-side:nth-child(4) {
  width: 15px;
  height: 21px;
  -webkit-transform: translate3d(2px, -1px, -12px) rotateZ(90deg);
          transform: translate3d(2px, -1px, -12px) rotateZ(90deg);
}

* .parent .animation .animation-items .tali .tali-top {
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 50px;
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #DC7415;
  border: 1px solid #C56006;
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side:nth-child(1) {
  width: 50px;
  -webkit-transform: translate3d(-15px, 10px, 15px) rotateX(90deg);
          transform: translate3d(-15px, 10px, 15px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side:nth-child(2) {
  height: 5px;
  -webkit-transform: translate3d(-35px, 25px, 15px) rotateY(90deg);
          transform: translate3d(-35px, 25px, 15px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side:nth-child(3) {
  height: 5px;
  -webkit-transform: translate3d(15px, 25px, 15px) rotateY(90deg);
          transform: translate3d(15px, 25px, 15px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side:nth-child(4) {
  width: 50px;
  height: 15px;
  -webkit-transform: translate3d(-15px, 15px, 35px);
          transform: translate3d(-15px, 15px, 35px);
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side:nth-child(5) {
  width: 10px;
  height: 10px;
  -webkit-transform: translate3d(30px, 15px, 30px) rotateY(90deg);
          transform: translate3d(30px, 15px, 30px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side:nth-child(6) {
  width: 10px;
  height: 10px;
  -webkit-transform: translate3d(-20px, 15px, 30px) rotateY(90deg);
          transform: translate3d(-20px, 15px, 30px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-top .tali-top-side:nth-child(7) {
  width: 50px;
  height: 10px;
  -webkit-transform: translate3d(-15px, 10px, 30px) rotateX(90deg);
          transform: translate3d(-15px, 10px, 30px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-one {
  width: 40px;
  height: 30px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 28px;
}

* .parent .animation .animation-items .tali .tali-footer-top-one .tali-footer-top-side {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #DC7415;
  border: 1px solid #C56006;
}

* .parent .animation .animation-items .tali .tali-footer-top-one .tali-footer-top-side:nth-child(1) {
  height: 30px;
  -webkit-transform: translate3d(22px, -3px, -6px) rotateY(90deg);
          transform: translate3d(22px, -3px, -6px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-one .tali-footer-top-side:nth-child(2) {
  height: 30px;
  -webkit-transform: translate3d(-17px, -3px, -6px) rotateY(90deg);
          transform: translate3d(-17px, -3px, -6px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-one .tali-footer-top-side:nth-child(3) {
  width: 40px;
  -webkit-transform: translate3d(-10px, 18px, -5px) rotateX(90deg);
          transform: translate3d(-10px, 18px, -5px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-one .tali-footer-top-side:nth-child(4) {
  width: 30px;
  height: 40px;
  -webkit-transform: translate3d(-5px, -8px, -13px) rotateZ(90deg);
          transform: translate3d(-5px, -8px, -13px) rotateZ(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two {
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 28px;
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side {
  width: 5px;
  height: 40px;
  position: absolute;
  background-color: #D9D9BC;
  border: 1px solid #C5BF8B;
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(1) {
  -webkit-transform: translate3d(27px, -3px, -15px) rotateY(90deg);
          transform: translate3d(27px, -3px, -15px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(2) {
  -webkit-transform: translate3d(-13px, -3px, -15px) rotateY(90deg);
          transform: translate3d(-13px, -3px, -15px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(3) {
  width: 40px;
  height: 5px;
  -webkit-transform: translate3d(-10px, 34px, -15px) rotateX(90deg);
          transform: translate3d(-10px, 34px, -15px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(4) {
  width: 40px;
  height: 40px;
  -webkit-transform: translate3d(-10px, -3px, -17px) rotateZ(90deg);
          transform: translate3d(-10px, -3px, -17px) rotateZ(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(5) {
  width: 40px;
  height: 5px;
  -webkit-transform: translate3d(-10px, -5px, -16px) rotateX(90deg);
          transform: translate3d(-10px, -5px, -16px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(6) {
  width: 10px;
  height: 50px;
  -webkit-transform: translate3d(5px, -23px, -13px) rotateZ(90deg);
          transform: translate3d(5px, -23px, -13px) rotateZ(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(7) {
  width: 50px;
  height: 30px;
  -webkit-transform: translate3d(-15px, -17px, 2px) rotateX(90deg);
          transform: translate3d(-15px, -17px, 2px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(8) {
  width: 50px;
  height: 10px;
  -webkit-transform: translate3d(-15px, 2px, -9px) rotateX(90deg);
          transform: translate3d(-15px, 2px, -9px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(9) {
  border-top: none;
  width: 10px;
  height: 5px;
  -webkit-transform: translate3d(30px, 2px, -9px) rotateY(90deg);
          transform: translate3d(30px, 2px, -9px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(10) {
  border-top: none;
  width: 10px;
  height: 5px;
  -webkit-transform: translate3d(-20px, 2px, -9px) rotateY(90deg);
          transform: translate3d(-20px, 2px, -9px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(11) {
  border-top: none;
  width: 40px;
  height: 5px;
  -webkit-transform: translate3d(-35px, -2px, 6px) rotateY(90deg);
          transform: translate3d(-35px, -2px, 6px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(12) {
  border-top: none;
  width: 40px;
  height: 5px;
  -webkit-transform: translate3d(15px, -2px, 6px) rotateY(90deg);
          transform: translate3d(15px, -2px, 6px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(13) {
  height: 50px;
  -webkit-transform: translate3d(7.5px, -29px, 17px) rotateZ(90deg);
          transform: translate3d(7.5px, -29px, 17px) rotateZ(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(14) {
  border-bottom: none;
  width: 10px;
  height: 5px;
  -webkit-transform: translate3d(30px, -7px, 21px) rotateY(90deg);
          transform: translate3d(30px, -7px, 21px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(15) {
  border-bottom: none;
  width: 10px;
  height: 5px;
  -webkit-transform: translate3d(-19px, -7px, 21px) rotateY(90deg);
          transform: translate3d(-19px, -7px, 21px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-top-two .tali-footer-top-side:nth-child(16) {
  width: 50px;
  height: 10px;
  -webkit-transform: translate3d(-15px, -12px, 21px) rotateX(90deg);
          transform: translate3d(-15px, -12px, 21px) rotateX(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-center-one,
* .parent .animation .animation-items .tali .tali-footer-center-two {
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 10px;
}

* .parent .animation .animation-items .tali .tali-footer-center-one .tali-footer-center-side {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #DC7415;
  border: 1px solid #C56006;
}

* .parent .animation .animation-items .tali .tali-footer-center-one .tali-footer-center-side:nth-child(1) {
  -webkit-transform: translate3d(10px, -3px, 2px) rotateY(90deg);
          transform: translate3d(10px, -3px, 2px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-center-one .tali-footer-center-side:nth-child(2) {
  -webkit-transform: translate3d(-12px, -3px, 2px) rotateY(90deg);
          transform: translate3d(-12px, -3px, 2px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-center-two .tali-footer-center-side {
  width: 7px;
  height: 20px;
  position: absolute;
  background-color: #D9D9BC;
  border: 1px solid #C5BF8B;
}

* .parent .animation .animation-items .tali .tali-footer-center-two .tali-footer-center-side:nth-child(1) {
  -webkit-transform: translate3d(17px, -3px, -10px) rotateY(90deg);
          transform: translate3d(17px, -3px, -10px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-center-two .tali-footer-center-side:nth-child(2) {
  -webkit-transform: translate3d(-6px, -3px, -10px) rotateY(90deg);
          transform: translate3d(-6px, -3px, -10px) rotateY(90deg);
}

* .parent .animation .animation-items .tali .tali-footer-center-two .tali-footer-center-side:nth-child(3) {
  width: 20px;
  height: 22px;
  -webkit-transform: translate3d(-1px, -3px, -13px) rotateZ(90deg);
          transform: translate3d(-1px, -3px, -13px) rotateZ(90deg);
}
/*# sourceMappingURL=style.css.map */