*
    padding: 0
    margin: 0
    box-sizing: border-box
    .parent
        width: 100vw
        height: 100vh
        background-color: #333333
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: center
        align-items: center
        .circle
            width: 200px